<form>
    <div class="form-group">
        <label for="productId">productId:</label>
        <input type="number" class="form-control" id="productId" ng-model="productId">
    </div>
    <div class="form-group">
        <label for="productName">productName:</label>
        <input type="text" class="form-control" id="productName" ng-model="productName">
    </div>

    <div class="form-group">
        <label for="price">price:</label>
        <input type="number" class="form-control" id="price" ng-model="price">
    </div>
    <div class="form-group">
        <label for="information">information:</label>
        <input type="text" class="form-control" id="information" ng-model="information">
    </div>
    <div class="form-group">
        <label for="description">description:</label>
        <input type="text" class="form-control" id="description" ng-model="description">
    </div>
    <div class="form-group">
        <label for="manufacturer">manufacturer:</label>
        <input type="text" class="form-control" id="manufacturer" ng-model="manufacturer">
    </div>
    <div class="form-group">
        <label for="productImage">productImage:</label>
        <input type="file" class="form-control" id="productImage">
    </div>
    <div class="form-group">
        <label for="availableQuantity">availableQuantity:</label>
        <input type="number" class="form-control" id="availableQuantity" ng-model="availableQuantity">
    </div>
    <button type="submit" class="btn btn-default" ng-click="submitProductData()">Submit</button>
</form>

