<div class="container">
    <form action="#Overview">
        <div class="row">
            <div class="col-md-10">
                <table class="table table-hover table-condensed table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="panel-title"style="width:85%">Shipping Address</th>
                            <th><button type="button" class="btn btn-info" data-toggle="modal" data-target="#addShipping">
                                    New Address
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="address in shippingAddresses">
                            <td>
                                <ul>
                                    <li style="list-style-type: none;">
                                        <label>
                                            <input ng-change='insertAddress(address)' name="select-shipping" type="radio" ng-model="$address" value="{{address}}"
                                                   required/>{{address.fullName}}, {{address.line1}} {{address.line2}}, {{address.city}},
                                            {{address.state}}, {{address.zipCode}}
                                        </label>
                                    </li>
                                </ul>
                            </td>
                            <td class="actions text-center">
                                <button class="btn btn-danger btn-sm" ng-click="removeAddress( shippingAddresses, $index )">Remove</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-hover table-condensed table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="width:85%">Billing Address</th>
                            <th><button type="button" class="btn btn-info" data-toggle="modal" data-target="#addBilling">
                                New Address
                            </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="address in billingAddresses">
                            <td>
                                <ul>
                                    <li style="list-style-type: none;">
                                        <label>
                                            <input type="radio" name="select-billing" ng-model="$address" value="{{address}}" required/>{{address.fullName}},
                                            {{address.line1}} {{address.line2}}, {{address.city}}, {{address.state}}, {{address.zipCode}}
                                        </label>
                                    </li>
                                </ul>
                            </td>
                            <td class="actions text-center">
                                <button class="btn btn-danger btn-sm" ng-click="removeAddress( billingAddresses, $index )">Remove</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-hover table-condensed table-bordered table-striped">
                    <thead>
                    <tr>
                        <th style="width:85%">Pick Credit Card</th>
                        <th class="text-center">
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#addCard">
                            New Card
                            </button>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="card in cards">
                        <td>
                            <ul>
                                <li style="list-style-type: none;">
                                    <label>
                                        <input ng-change='insertCard(card)' name="select-card" type="radio" ng-model="$card" value="{{card}}" required/>{{card.number}}
                                    </label>
                                </li>
                            </ul>
                        </td>
                        <td class="actions text-center">
                            <button class="btn btn-danger btn-sm" ng-click="removeCard( cards, $index )">Remove</button>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <table class="table table-hover table-condensed table-bordered table-striped">
                    <thead>
                    <tr>
                        <th style="width:85%">Pick Shipping Option</th>
                        <th style="width:85%">Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <ul>
                                <li style="list-style-type: none;">
                                    <label>
                                        <input ng-change='insertShipping({{oneDay}})' name="select-option" type="radio" ng-model="$oneDay" value="{{oneDay}}" required/> {{oneDay.method}}
                                    </label>
                                </li>
                            </ul>
                        </td>
                        <td>{{oneDay.price}}</td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li style="list-style-type: none;">
                                    <label>
                                        <input ng-change='insertShipping({{twoDay}})' name="select-option" type="radio" ng-model="$twoDay" value="{{twoDay}}" required/> {{twoDay.method}}
                                    </label>
                                </li>
                            </ul>
                        </td>
                        <td>{{twoDay.price}}</td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li style="list-style-type: none;">
                                    <label>
                                        <input ng-change='insertShipping({{expedited}})' name="select-option" type="radio" ng-model="$expedited" value="{{expedited}}" required/> {{expedited.method}}
                                    </label>
                                </li>
                            </ul>
                        </td>
                        <td>{{expedited.price}}</td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li style="list-style-type: none;">
                                    <label>
                                        <input ng-change='insertShipping({{standard}})' name="select-option" type="radio" ng-model="$standard" value="{{standard}}" required/> {{standard.method}}
                                    </label>
                                </li>
                            </ul>
                        </td>
                        <td>{{standard.price}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-2" >
                <button ng-click="sendShippingMethod()" type="submit" class="btn btn-success">Overview</button>
            </div>
        </div>
    </form>
</div>

<form ng-submit="sendShipping()">
    <div id="addShipping" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add New Shipping Address</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group"> <!-- Full Name -->
                        <label for="shipping_full_name_id" class="control-label">Full Name</label>
                        <input required ng-model="shippingFullName" type="text" class="form-control"
                               id="shipping_full_name_id" name="full_name" placeholder="John Deer">
                    </div>

                    <div class="form-group"> <!-- Street 1 -->
                        <label for="shipping_street1_id" class="control-label">Street Address 1</label>
                        <input required ng-model="shippingLine1" type="text" class="form-control"
                               id="shipping_street1_id" name="street1"
                               placeholder="Street address, P.O. box, company name, c/o">
                    </div>

                    <div class="form-group"> <!-- Street 2 -->
                        <label for="shipping_street2_id" class="control-label">Street Address 2</label>
                        <input ng-model="shippingLine2" type="text" class="form-control"
                               id="shipping_street2_id" name="street2"
                               placeholder="Apartment, suite, unit, building, floor, etc.">
                    </div>

                    <div class="form-group"> <!-- City-->
                        <label for="shipping_city_id" class="control-label">City</label>
                        <input required ng-model="shippingCity" type="text" class="form-control"
                               id="shipping_city_id" name="city" placeholder="Smallville">
                    </div>

                    <div class="form-group"> <!-- State Button -->
                        <label for="shipping_state_id" class="control-label">State</label>
                        <select required ng-model="shippingState" class="form-control" id="shipping_state_id">
                            <option value="AL">Alabama</option>
                            <option value="AK">Alaska</option>
                            <option value="AZ">Arizona</option>
                            <option value="AR">Arkansas</option>
                            <option value="CA">California</option>
                            <option value="CO">Colorado</option>
                            <option value="CT">Connecticut</option>
                            <option value="DE">Delaware</option>
                            <option value="DC">District Of Columbia</option>
                            <option value="FL">Florida</option>
                            <option value="GA">Georgia</option>
                            <option value="HI">Hawaii</option>
                            <option value="ID">Idaho</option>
                            <option value="IL">Illinois</option>
                            <option value="IN">Indiana</option>
                            <option value="IA">Iowa</option>
                            <option value="KS">Kansas</option>
                            <option value="KY">Kentucky</option>
                            <option value="LA">Louisiana</option>
                            <option value="ME">Maine</option>
                            <option value="MD">Maryland</option>
                            <option value="MA">Massachusetts</option>
                            <option value="MI">Michigan</option>
                            <option value="MN">Minnesota</option>
                            <option value="MS">Mississippi</option>
                            <option value="MO">Missouri</option>
                            <option value="MT">Montana</option>
                            <option value="NE">Nebraska</option>
                            <option value="NV">Nevada</option>
                            <option value="NH">New Hampshire</option>
                            <option value="NJ">New Jersey</option>
                            <option value="NM">New Mexico</option>
                            <option value="NY">New York</option>
                            <option value="NC">North Carolina</option>
                            <option value="ND">North Dakota</option>
                            <option value="OH">Ohio</option>
                            <option value="OK">Oklahoma</option>
                            <option value="OR">Oregon</option>
                            <option value="PA">Pennsylvania</option>
                            <option value="RI">Rhode Island</option>
                            <option value="SC">South Carolina</option>
                            <option value="SD">South Dakota</option>
                            <option value="TN">Tennessee</option>
                            <option value="TX">Texas</option>
                            <option value="UT">Utah</option>
                            <option value="VT">Vermont</option>
                            <option value="VA">Virginia</option>
                            <option value="WA">Washington</option>
                            <option value="WV">West Virginia</option>
                            <option value="WI">Wisconsin</option>
                            <option value="WY">Wyoming</option>
                        </select>
                    </div>

                    <div class="form-group"> <!-- Zip Code-->
                        <label for="shipping_zip_id" class="control-label">Zip Code</label>
                        <input required ng-model="shippingZipCode" type="text" class="form-control"
                               id="shipping_zip_id" name="zip" placeholder="#####">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success pull-left" data-dismiss="modal"
                            ng-click="sendShipping(shippingAddresses, $index)">Submit
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form ng-submit="sendBilling()">
    <div id="addBilling" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add New Billing Address</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group"> <!-- Full Name -->
                        <label for="billing_full_name_id" class="control-label">Full Name</label>
                        <input required ng-model="billingFullName" type="text" class="form-control"
                               id="billing_full_name_id" name="full_name" placeholder="John Deer">
                    </div>

                    <div class="form-group"> <!-- Street 1 -->
                        <label for="billing_street1_id" class="control-label">Street Address 1</label>
                        <input required ng-model="billingLine1" type="text" class="form-control"
                               id="billing_street1_id" name="street1"
                               placeholder="Street address, P.O. box, company name, c/o">
                    </div>

                    <div class="form-group"> <!-- Street 2 -->
                        <label for="billing_street2_id" class="control-label">Street Address 2</label>
                        <input ng-model="billingLine2" type="text" class="form-control" id="billing_street2_id"
                               name="street2" placeholder="Apartment, suite, unit, building, floor, etc.">
                    </div>

                    <div class="form-group"> <!-- City-->
                        <label for="billing_city_id" class="control-label">City</label>
                        <input required ng-model="billingCity" type="text" class="form-control"
                               id="billing_city_id" name="city" placeholder="Smallville">
                    </div>

                    <div class="form-group"> <!-- State Button -->
                        <label for="billing_state_id" class="control-label">State</label>
                        <select required ng-model="billingState" class="form-control" id="billing_state_id">
                            <option value="AL">Alabama</option>
                            <option value="AK">Alaska</option>
                            <option value="AZ">Arizona</option>
                            <option value="AR">Arkansas</option>
                            <option value="CA">California</option>
                            <option value="CO">Colorado</option>
                            <option value="CT">Connecticut</option>
                            <option value="DE">Delaware</option>
                            <option value="DC">District Of Columbia</option>
                            <option value="FL">Florida</option>
                            <option value="GA">Georgia</option>
                            <option value="HI">Hawaii</option>
                            <option value="ID">Idaho</option>
                            <option value="IL">Illinois</option>
                            <option value="IN">Indiana</option>
                            <option value="IA">Iowa</option>
                            <option value="KS">Kansas</option>
                            <option value="KY">Kentucky</option>
                            <option value="LA">Louisiana</option>
                            <option value="ME">Maine</option>
                            <option value="MD">Maryland</option>
                            <option value="MA">Massachusetts</option>
                            <option value="MI">Michigan</option>
                            <option value="MN">Minnesota</option>
                            <option value="MS">Mississippi</option>
                            <option value="MO">Missouri</option>
                            <option value="MT">Montana</option>
                            <option value="NE">Nebraska</option>
                            <option value="NV">Nevada</option>
                            <option value="NH">New Hampshire</option>
                            <option value="NJ">New Jersey</option>
                            <option value="NM">New Mexico</option>
                            <option value="NY">New York</option>
                            <option value="NC">North Carolina</option>
                            <option value="ND">North Dakota</option>
                            <option value="OH">Ohio</option>
                            <option value="OK">Oklahoma</option>
                            <option value="OR">Oregon</option>
                            <option value="PA">Pennsylvania</option>
                            <option value="RI">Rhode Island</option>
                            <option value="SC">South Carolina</option>
                            <option value="SD">South Dakota</option>
                            <option value="TN">Tennessee</option>
                            <option value="TX">Texas</option>
                            <option value="UT">Utah</option>
                            <option value="VT">Vermont</option>
                            <option value="VA">Virginia</option>
                            <option value="WA">Washington</option>
                            <option value="WV">West Virginia</option>
                            <option value="WI">Wisconsin</option>
                            <option value="WY">Wyoming</option>
                        </select>
                    </div>

                    <div class="form-group"> <!-- Zip Code-->
                        <label for="billing_zip_id" class="control-label">Zip Code</label>
                        <input required ng-model="billingZipCode" type="text" class="form-control"
                               id="billing_zip_id" name="zip" placeholder="#####">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success pull-left" data-dismiss="modal"
                            ng-click="sendBilling()">Submit
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form ng-submit="sendCard()">
    <div id="addCard" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add New Credit Card</h4>
                </div>

                <div class="modal-body">

                    <div class="form-group">
                        <label class="control-label" for="card-holder-name">Name on Card</label>
                        <input required ng-model="fullName" type="text" class="form-control"
                               name="card-holder-name" id="card-holder-name" placeholder="Card Holder's Name">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="card-number" maxlength="16">Card Number</label>
                        <input required ng-model="number" type="text" class="form-control" name="card-number"
                               id="card-number" placeholder="Debit/Credit Card Number">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="expiry-month">Expiration Date</label>
                        <div class="row">
                            <div class="col-xs-3">
                                <select required ng-model="expMonth" class="form-control col-sm-2"
                                        name="expiry-month" id="expiry-month">
                                    <option>Month</option>
                                    <option value="01">Jan (01)</option>
                                    <option value="02">Feb (02)</option>
                                    <option value="03">Mar (03)</option>
                                    <option value="04">Apr (04)</option>
                                    <option value="05">May (05)</option>
                                    <option value="06">June (06)</option>
                                    <option value="07">July (07)</option>
                                    <option value="08">Aug (08)</option>
                                    <option value="09">Sep (09)</option>
                                    <option value="10">Oct (10)</option>
                                    <option value="11">Nov (11)</option>
                                    <option value="12">Dec (12)</option>
                                </select>
                            </div>
                            <div class="col-xs-3">
                                <select required ng-model="expYear" class="form-control" name="expiry-year">
                                    <option value="13">2013</option>
                                    <option value="14">2014</option>
                                    <option value="15">2015</option>
                                    <option value="16">2016</option>
                                    <option value="17">2017</option>
                                    <option value="18">2018</option>
                                    <option value="19">2019</option>
                                    <option value="20">2020</option>
                                    <option value="21">2021</option>
                                    <option value="22">2022</option>
                                    <option value="23">2023</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="cvv">Card CVV</label>
                        <input required ng-model="validate" type="text" class="form-control" name="cvv" id="cvv"
                               placeholder="Security Code">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success pull-left" data-dismiss="modal"
                            ng-click="sendCard()">Submit
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>