<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-4 col-lg-4 col-md-4" ng-repeat="product in products">
                    <div class="thumbnail">
                        <img data-ng-src="{{product.productImage}}" alt="" ng-style="{ 'width' : 320, 'height' : 150 }">
                        <div class="caption">
                            <h4 class="pull-right">${{product.price}}</h4>
                            <h4><a href="#">{{product.productName}}</a></h4>
                            <p>{{product.description}}</p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">15 reviews</p>
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </p>
                        </div>
                        <button ng-click="addToCart(product)">Add to cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <hr>
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </footer>
</div>