<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Order Overview</strong></h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <td><strong>Item</strong></td>
                                <td class="text-center"><strong>Price</strong></td>
                                <td class="text-center"><strong>Quantity</strong></td>
                                <td class="text-right"><strong>Totals</strong></td>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- for each item in itemList -->
                            <tr ng-repeat="item in invoice.itemList">
                                <td><strong>{{item.productName}}</strong></td>
                                <td class="text-center"><strong>${{item.price}}</strong></td>
                                <td class="text-center"><strong>{{item.quantity}}</strong></td>
                                <td class="text-right"><strong>${{item.itemTotal}}</strong></td>
                            </tr>
                            <tr>
                                <td class="thick-line"></td>
                                <td class="thick-line"></td>
                                <td class="thick-line text-right"><input type="text" name="name" ng-model="discountCode" /></td>
                                <td class="thick-line text-right"><button ng-click="validateCode(discountCode)">Enter Code</button></td>
                            </tr>
                            <tr>
                                <td class="thick-line"></td>
                                <td class="thick-line"></td>
                                <td class="thick-line text-right"><strong>Subtotal</strong></td>
                                <td class="thick-line text-right">${{prices.subTotal}}</td>
                            </tr>
                            <tr>
                                <td class="no-line"></td>
                                <td class="no-line"></td>
                                <td class="no-line text-right"><strong>Tax Amount</strong></td>
                                <td class="no-line text-right">${{prices.tax}}</td>
                            </tr>
                            <tr>
                                <td class="no-line"></td>
                                <td class="no-line"></td>
                                <td class="no-line text-right"><strong>Shipping Cost</strong></td>
                                <td class="no-line text-right">${{prices.shipping}}</td>
                            </tr>
                            <tr>
                                <td class="no-line"></td>
                                <td class="no-line"></td>
                                <td class="no-line text-right"><strong>Total</strong></td>
                                <td class="no-line text-right">${{total}}</td>
                            </tr>
                            <tr>
                                <td class="no-line"></td>
                                <td class="no-line"></td>
                                <td class="no-line text-right"><strong>Discounted Amount</strong></td>
                                <td class="no-line text-right">${{prices.discount}}</td>
                            </tr>
                            <tr>
                                <td class="no-line"></td>
                                <td class="no-line"></td>
                                <td class="no-line text-right"><strong>Discounted Total</strong></td>
                                <td class="no-line text-right">${{discountedTotal}}</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td><a class="btn btn-success btn-block">Confirm<i class="fa fa-angle-right"></i></a></td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
