<div class="container">
    <table id="cart" class="table table-hover table-condensed">
        <thead>
        <tr>
            <th style="width:50%">Product</th>
            <th style="width:10%">Price</th>
            <th style="width:8%">Quantity</th>
            <th style="width:22%" class="text-center">Subtotal</th>
            <th style="width:10%"></th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="item in invoice.itemList">
            <div id="{{item.productId}}">
                <td data-th="Product">
                    <div class="row">
                        <div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..." class="img-responsive"/></div>
                        <div class="col-sm-10">
                            <h4 class="nomargin">{{item.productName}}</h4>
                            <p>{{item.description}}</p>
                        </div>
                    </div>
                </td>

                <td data-th="Price">{{item.price}}</td>
                <td data-th="Quantity">
                    <label for="quantityInput"></label>
                    <input id="quantityInput" type="number" class="form-control text-center" value="{{item.quantity}}">
                </td>
                <td data-th="Subtotal" class="text-center">{{item.itemTotal}}</td>
            </div>
        </tr>
        </tbody>

        <tfoot>
        <tr class="visible-xs">
            <td class="text-center"><strong>Total {{total}}</strong></td>
        </tr>
        <tr>
            <td><a href="#" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
            <td colspan="2" class="hidden-xs"></td>
            <td class="hidden-xs text-center"><strong>Total {{total}}</strong></td>
            <td><a class="btn btn-success btn-block">Confirm<i class="fa fa-angle-right"></i></a></td>
        </tr>
        </tfoot>
    </table>
</div>